<style>
  
  
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  width: 150px;
  margin-bottom: 30px;
  margin-left: -26px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
</style>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Welcome to Baby's World</h4>
      <!-- <p>Get E-mail updates about our latest shop and special offers</p> -->
    </div>
    <!-- <div class="form">
      <input type="text" placeholder="Your email address">
      <button class="normal">Sign Up</button>
    </div> -->
  </section>
<footer class="section-p1">
    <!-- contact -->
    <div class="col">
      <!-- <img class="logo" src="img/logo122.png" alt=""> -->
      <h4>Contact</h4>
      <p><strong>Address: </strong>--------------</p>
      <p><strong>Phone: </strong>+0000000000</p>
      <p><strong>Hours: </strong> 8:00am - 7.00pm, Mon - Sat</p>
      <!-- social icons -->
      <!-- <div class="follow"> -->
        <!-- <h4>Follow us</h4> -->
        <!-- <div class="icon">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-pinterest-p"></i>
        </div> -->
      </div>
    </div>
    <!-- about info -->
    <div class="col">
      <h4>About</h4>
      <a href="#">About Us</a>
      <a href="#">Delivery Infomation</a>
      <a href="#">privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
    </div>
    <!-- account info -->
    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
    </div>
    <!-- install -->
    <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play Store</p>
      <!-- <div class="row">
        <img src="img/pay/app.jpg" alt="">
        <img src="img/pay/play.jpg" alt="">
      </div> -->
      <p>Secured Payment Gateways</p>
      <img src="img/pay/pay.png" alt="">
    </div>

    <div class="copyright">
      <!-- <p>Dummy Ecommerce Homepage &copy 2022 zeusscript Inc.</p> -->
    </div>
  </footer>